/* Add site styles here */
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    margin: 10px;
    font-family: "Roboto", sans-serif;
    background-color: #E7DEAE;

}

nav {
    padding: 1em;
    background-color: #F09F54;
    color: #E7DEAE;
}

a {
    color: #E7DEAE;
    text-decoration: none;
}

a:hover {
    color: blue;
}

a:visited {
    color: purple;
}

footer {
    font-style: italic;
    border-top: 2px solid #F09F54;
    padding-top: 1em;
}

footer > a {
    color: #F09F54;
}

h1 {
    font-size: 4em;
    color: #F09F54;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #F09F54;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

article > p:nth-of-type(2) {
    font-size: 1.5em;
    color: #F09F54;
    font-style: italic;
    font-weight: bold;
    border-right: 5px dotted #F09F54;
    margin: 0 1em 0 0;
    padding: 1em;
}

